/*body{
    font-family:Arial;
    background:#f4f4f4;
}

.container{
    width:400px;
    margin:100px auto;
    background:white;
    padding:20px;
    border-radius:10px;
    text-align:center;
}

input,select{
    width:90%;
    padding:10px;
    margin:10px 0;
}

button{
    padding:10px 20px;
}

.back-btn{
    padding:10px 15px;
    margin:10px;
    cursor:pointer;
}*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    background:linear-gradient(
    135deg,
    #050816,
    #0a0f2c,
    #141b4d
    );
    color:white;
}

.container{
    width:450px;
    margin:80px auto;
    padding:30px;

    background:rgba(255,255,255,0.05);

    backdrop-filter:blur(15px);

    border:1px solid rgba(0,229,255,0.3);

    border-radius:20px;

    box-shadow:
    0 0 25px rgba(0,229,255,0.3);

    text-align:center;
}

h1{
    color:#00e5ff;
    margin-bottom:25px;
}

input,
select{
    width:100%;
    padding:14px;
    margin:10px 0;

    border-radius:10px;

    border:1px solid #00e5ff;

    background:#050816;

    color:white;
}

button{
    padding:12px 20px;

    border:none;

    border-radius:10px;

    cursor:pointer;

    background:linear-gradient(
    90deg,
    #00e5ff,
    #9d4edd
    );

    color:white;
    font-weight:600;
}

button:hover{
    box-shadow:0 0 15px #00e5ff;
}

.back-btn{
    margin:20px;
}

#message{
    color:#00ff88;
    font-weight:bold;
    margin-top:15px;
}

.menu-btn{
    position:fixed;
    top:20px;
    left:20px;

    font-size:30px;
    color:#00e5ff;

    cursor:pointer;

    z-index:1001;
}

.sidebar{
    position:fixed;

    top:0;
    left:-250px;

    width:250px;
    height:100%;

    background:#081126;

    transition:0.4s;

    padding-top:70px;

    border-right:1px solid #00e5ff;

    z-index:1000;
}

.sidebar.active{
    left:0;
}

.sidebar h2{
    color:#00e5ff;
    text-align:center;
    margin-bottom:30px;
}

.sidebar a{
    display:block;

    color:white;

    text-decoration:none;

    padding:15px 20px;
}

.sidebar a:hover{
    background:#00e5ff;
    color:black;
}