/*body{
    font-family:Arial;
    background:#f4f4f4;
    padding:20px;
}

.card{
    background:white;
    padding:15px;
    margin:10px;
    border-radius:10px;
    box-shadow:0px 0px 5px gray;
}

.back-btn{
    padding:10px 15px;
    margin:10px;
    cursor:pointer;
}

.card p[id^="msg-"]{
    color:green;
    font-weight:bold;
    margin-top:10px;
}*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    background:linear-gradient(
    135deg,
    #050816,
    #0a0f2c,
    #141b4d
    );
    padding:30px;
    color:white;
}

h1{
    text-align:center;
    color:#00e5ff;
    margin-bottom:30px;
    font-size:40px;
}

.back-btn{
    background:linear-gradient(
    90deg,
    #00e5ff,
    #9d4edd
    );

    color:white;
    border:none;
    padding:12px 20px;
    border-radius:10px;
    cursor:pointer;
    font-weight:600;
    margin-bottom:20px;
}

.back-btn:hover{
    box-shadow:0 0 15px #00e5ff;
}

.card{
    background:rgba(255,255,255,0.05);

    backdrop-filter:blur(15px);

    border:1px solid rgba(0,229,255,0.3);

    box-shadow:
    0 0 20px rgba(0,229,255,0.2);

    border-radius:15px;

    padding:20px;

    margin-bottom:20px;
}

.card h3{
    color:#00e5ff;
    margin-bottom:15px;
}

.card p{
    margin:10px 0;
    color:#ffffff;
}

.card button{
    padding:10px 15px;
    margin-right:10px;
    margin-top:10px;

    border:none;
    border-radius:8px;

    background:linear-gradient(
    90deg,
    #00e5ff,
    #9d4edd
    );

    color:white;
    cursor:pointer;
    font-weight:600;
}

.card button:hover{
    box-shadow:0 0 12px #00e5ff;
}

.card input,
.card select{
    width:100%;
    padding:12px;
    margin:10px 0;

    border-radius:8px;
    border:1px solid #00e5ff;

    background:#050816;
    color:white;
}

.card p[id^="msg-"]{
    color:#00ff88;
    font-weight:bold;
    margin-top:10px;
}

.menu-btn{
    position:fixed;
    top:20px;
    left:20px;

    font-size:30px;
    color:#00e5ff;

    cursor:pointer;

    z-index:1001;
}

.sidebar{
    position:fixed;

    top:0;
    left:-250px;

    width:250px;
    height:100%;

    background:#081126;

    transition:0.4s;

    padding-top:70px;

    border-right:1px solid #00e5ff;

    z-index:1000;
}

.sidebar.active{
    left:0;
}

.sidebar h2{
    color:#00e5ff;
    text-align:center;
    margin-bottom:30px;
}

.sidebar a{
    display:block;

    color:white;

    text-decoration:none;

    padding:15px 20px;
}

.sidebar a:hover{
    background:#00e5ff;
    color:black;
}